<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667304340794-3q04hdh8jjqpg4ammuu86q2aob8jv64b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667304340794-3q04hdh8jjqpg4ammuu86q2aob8jv64b</string>
	<key>API_KEY</key>
	<string>AIzaSyAxsfbWOqZ-886JbsAE3pO3KAX78cRuXzM</string>
	<key>GCM_SENDER_ID</key>
	<string>667304340794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>at.alkhatib.messagemeApp</string>
	<key>PROJECT_ID</key>
	<string>messageme-app-d682c</string>
	<key>STORAGE_BUCKET</key>
	<string>messageme-app-d682c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667304340794:ios:f66701ecbf3a78c3d0f403</string>
</dict>
</plist>